<ul id="todo-list">
  {{#each todo in model itemController="todo"}}
    <li {{bind-attr class="todo.finished:isFinished todo.isEditing:editing"}}>
      {{#if todo.isEditing}}
        {{edit-todo class="edit" value=todo.title focus-out="acceptChanges" insert-newline="acceptChanges"}}
      {{else}}
        {{input type="checkbox" class="toggle" checked=todo.finished }}
        <label {{action "editTodo" on="doubleClick" }}>{{todo.title}}</label><button {{action "removeTodo"}} class="destroy">X</button>
      {{/if}}
    </li>
  {{/each}}
</ul>
